.warning {
    background-color: #fdf8e4;
    border: solid 1px;
    border-color: #FFD700;
}

.success {
    background-color: #e1efd6;
    border: solid 1px;
    border-color: #228B22;
}

.container {
    width: 200px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    margin: 5px;
    padding: 10px;
}